{% extends 'store_base.html' %}

{% block content %}
product_edit
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        {{ form.name.label_tag }}
        {{ form.name }}
    </p>
    <p>
        {{ form.description.label_tag }}
        {{ form.description }}
    </p>
    <p>
        {{ form.price.label_tag }}
        {{ form.price }}
    </p>
    <p>
        {{ form.amount.label_tag }}
        {{ form.amount }}
    </p>
    <p>
        {{ form.image.label_tag }}
        {{ form.image }}
    </p>
    <p hidden>
        {{ form.code.label_tag }}
        {{ form.code }}
    </p>
    <input type="submit" name="product_edit"
           value="商品編集">
    <input type="submit" name="product_delete"
           value="商品削除">
</form>
{% endblock content %}
